<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/entry.css') }}">
        <script src="{{ url_for('static', filename='scripts/entry.js') }}"></script>
    </head>
    <body onload="today()">
        <div class="headbox">
            <div class="left"></div>
            <div class="center">
                <center>
                    <h1>{{ entry.title }}</h1>
                    <em>Written on {{ entry.date }}</em>
                    <p>{{ entry.body }}</p>
                </center>
            </div>
            <div class="right"></div>
        </div>
    </body>
</html>