<!DOCTYPE html>
<html>
    <head>
        <title>GarryNet | Diary - Home</title>
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </head>
    <body onload="chainStart('{{ fname }}')">
        <div class="box">
            <div class="row header">
                <div class="headbox">
                    <div class="left">
                        <h1 id="greetingText"></h1>
                    </div>
                    <div class="center" align="center">
                        <!-- Nothing to see here -->
                    </div>
                    <div class="right" align="center">
                        <h4 style="margin-bottom: 0px;">Not {{ fname }}?</h4>
                        <em><a href="/logout">Logout</a></em>
                    </div>
                </div>
            </div>
            <div class="row content">
                <h3 style="overflow-x: scroll; overflow:auto; white-space: nowrap;"><em>
                    {{ fname }}'s Diary | <a href="{{ url_for('new_entry') }}" target="iframe">New</a> | <a href="javascript:location.reload()">Refresh</a> | Entries: {% for entry in entries %}<a href="/fetch_entry/{{ entry|lower|replace(' ', '-') }}" target="iframe">{{ entry }}</a> - {% endfor %}
                </em></h3>
                <iframe name="iframe" src="{{ url_for('new_entry') }}" scrolling="no"></iframe>
            </div>
            <div class="row footer">
                <div class="headbox">
                    <div class="left">
                        <em><h4>© 2022 <a href="https://garrynet.co.uk" target="_blank">GarryNet</a></h4></em>
                    </div>
                    <div class="center" align="center">
                        <h4 id="dntText"></h4>
                    </div>
                    <div class="right" align="center">
                        <h4><a href="javascript:alert('About')">About</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>