@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
    font-family: Roboto;
    height: 100%;
    margin: 0;
    background-image: url("/static/images/space.gif");
    background-size: cover;
}

.headbox {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.headbox .left {
    flex: 1 1 auto;
}

.headbox .center {
    flex: 1 1 auto;
    backdrop-filter: blur(5px) brightness(50%);
    margin: 25px;
    border-radius: 25px;
    padding-bottom: 25px;
    height: fit-content;
}

.headbox .right {
    flex: 1 1 auto;
}

h1 {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(100, 100, 100);
}

a {
    color: rgb(200, 255, 200);
    display: block;
    text-decoration: none;
    transition: 0.25s;
    opacity: 0.75;
}
a:hover {
    display: block;
    transition: 0.25;
    opacity: 1;
    transform: scale(1.1);
}

img {
    display: block;
    transition: 5s;
}