@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
    font-family: Roboto;
    height: 100%;
    margin: 0;
}

.headbox {
    display: flex;
    flex-flow: row;
    height: 100%;
    
}

.headbox .left {
    flex: 1 1 0;
}

.headbox .center{
    flex: 1 1 0;
}

.headbox .right {
    flex: 1 1 0;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 255, 255);
}

p, em, label {
    color: rgb(200, 200, 200)
}

a {
    text-decoration: none;
    color: rgb(200, 255, 200);
    transition: 0.25s;
    opacity: 0.75;
}
a:hover {
    transition: 0.25s;
    opacity: 1;
}

input, textarea {
    background-color: black;
    color:rgb(200, 200, 200);
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: 0.25s;
}
input {
    opacity: 0.75;
}
input:disabled {
    opacity: 0.5;
}
input:hover:enabled {
    opacity: 1;
    transition: 0.25s;
}

.secret {
    filter: blur(5px);
    transition: 0.25s;
}
.secret:focus {
    filter: blur(0px);
    transition: 0.25s;
}
